<nav>

    <ul>
        <li><a href="./home">Home</a></li>
        <li><a href="./london">Weather for London</a></li>
        <li><a href="./wigan">Weather for Wigan</a></li>
        <li><a href="./blackpool">Weather for Blackpool</a></li>

    </ul>
</nav>